html {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
	background-image: linear-gradient(rgb(226, 25, 112), rgb(118, 67, 148));
}

circle {
    fill: url(#gg);
    shape-rendering: geometricPrecision;
}

.headcentre {
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -90px;
	margin-left: -100px;
	z-index: -3;
}

.eyes {
	fill: url(#eyegradient);
	shape-rendering: geometricPrecision;
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -15px;
	margin-left: -40px;
	z-index: -1;
}

.eyepiece {
    fill: url(#eyepiecegrad);
	shape-rendering: geometricPrecision;
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -530px;
	margin-left: -113px;
	z-index: -2;
}

