html {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
	background-image: linear-gradient(rgb(226, 25, 112), rgb(118, 67, 148));
}

p {

	color: white;
	font-family: "Montserrat", normal;
}

circle {
    fill: url(#gg);
    shape-rendering: geometricPrecision;
}

.headcentre {
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -90px;
	margin-left: -100px;
	z-index: -3;
}

.eyes {
	fill: url(#eyegradient);
	shape-rendering: geometricPrecision;
	position:absolute;
	top:50%;
	left:50%;
	/* 13px 43px */
	margin-top: -12px;
	margin-left: -43px;
	z-index: -1;
}

.eyepiece {
    fill: url(#eyepiecegrad);
	shape-rendering: geometricPrecision;
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -530px;
	margin-left: -113px;
	z-index: -2;
}


.mouth {
	fill: url(#mouthgradient);
	shape-rendering: geometricPrecision;
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -150px;
	margin-left: -115px;
	z-index: -1;
}

.inputs {
	position: absolute;
	top:50%;
	left:50%;
	margin-top: -250px;
	margin-left: -450px;
}

input {
	border: hidden;
	border-radius: 5px 5px 5px 5px;
}

.logo {
	top:1%;
	left:1%;
}