html {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
	background-image: linear-gradient(rgb(226, 25, 112), rgb(118, 67, 148));
}

body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
	background:	#6649b8;
}


circle {
    shape-rendering: geometricPrecision;
    fill: url(#gg);
}

.headcentre {
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -90px;
	margin-left: -100px;
	z-index: -3;
}

.eyepiece {
	shape-rendering: geometricPrecision;
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -530px;
	margin-left: -113px;
	z-index: -2;
}

.eyes_heart {   
	shape-rendering: geometricPrecision;
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -50px;
	margin-left: -113px;
	z-index: -1;
}